<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submitbtn {
  background-color: #4ca0af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  padding: 16px;
}

</style>
    </head>
    <body>
		<form method='POST' action=''>
			<div class="container">
			  <h2>Type a few sentences here</h2>
			  <hr>
			  <label for="sentence"><b>Sentence</b></label>
			  <input type="text" placeholder="Type the next sentence..." name="sentence" required>
			  <hr>    
			  <input type="submit" class="submitbtn" value="Add"/>
			</div>
		</form>
    </body>
</html>

	  